---
import Layout from "@layouts/Layout.astro";
import CircleCheckIcon from "@icons/CircleCheckIcon.astro";
import ArrowDownIcon from "@icons/ArrowDownIcon.astro";
import Contact from "@components/Contact.astro";
---

<Layout title="Metropedia.">
    <div
        class="about flex flex-col justify-center items-center h-dvh gap-12 pt-12 relative mx-10"
    >
        <p class="text-xl text-center text-[#9a9a9a]">
            La web metrológica más <span class="text-[#fcb316]">completa</span> y
            <span class="text-[#fcb316]">confiable</span>.
        </p>
        <img
            class="metropedia md:h-32"
            src="https://res.cloudinary.com/dc0aja7yx/image/upload/v1731012161/logocentrado_kj8zb5.png"
            alt=""
        />

        <div class="">
            <p class="titulo tracking-widest text-3xl md:text-3xl mb-6">
                METROPEDIA
            </p>
            <div class="bg-white size-5 w-full"></div>
        </div>

        <ArrowDownIcon class="absolute bottom-0 bounce end-1/2" />
    </div>
    <hr class="h-px my-8 bg-neutral-200 border-0 dark:bg-neutral-700" />
    <div
        class="about max-w-screen-xl flex flex-col items-center justify-center mx-5 md:mx-auto"
    >
        <img
            class="rounded-sm mb-14"
            src="https://res.cloudinary.com/dc0aja7yx/image/upload/v1731011416/3_ode6jf.png"
            alt=""
        />
        <div class="grid md:grid-cols-2 gap-12">
            <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-6">
                    <h3 class="text-2xl font-extrabold">Visión General</h3>
                    <p class="text-[#9a9a9a] text-lg">
                        Bienvenido a nuestra plataforma metrológica, la solución
                        integral para quienes buscan precisión, eficiencia y
                        confiabilidad en el campo de la metrología. Aquí
                        encontrará herramientas avanzadas, guías especializadas
                        y recursos formativos que cubren desde cálculos de
                        incertidumbre hasta capacitación profesional, todo
                        diseñado para optimizar sus procesos de medición y
                        cumplir con los estándares más rigurosos.
                    </p>
                </div>

                <ul class="grid grid-cols-2 text-[#9a9a9a] text-lg gap-3">
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Cálculos de
                        incertidumbre
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Diseño de experimentos
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Desarrollo de software
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Cursos especializados
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Formatos de
                        calibración
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Asesorías técnicas
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Normativas
                        internacionales
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Optimización de
                        procesos
                    </li>
                </ul>
            </div>
            <div class="flex flex-col gap-6">
                <h3 class="text-2xl font-extrabold">Nuestra misión</h3>
                <p class="text-[#9a9a9a] text-lg">
                    Fundamos esta plataforma con un propósito claro: simplificar
                    y optimizar los procesos de medición para los profesionales
                    de la metrología. Con una comunidad global y recursos
                    continuamente actualizados, ofrecemos contenido alineado con
                    las normativas y tecnologías más avanzadas del sector.
                </p>
                <h3 class="text-2xl font-extrabold">Nuestro compromiso</h3>
                <p class="text-[#9a9a9a] text-lg">
                    Nos dedicamos a ofrecer una plataforma intuitiva y de alto
                    rendimiento, con herramientas precisas y accesibles que
                    respaldan el trabajo diario de los profesionales en
                    metrología. En un entorno donde la precisión es fundamental,
                    estamos aquí para ayudarle a alcanzar los más altos niveles
                    de exactitud y eficiencia en cada medición.
                </p>
            </div>
        </div>
    </div>

    <Contact/>
</Layout>

<style>
    .about {
        color: white;
    }

    .metropedia {
        -webkit-mask-image: linear-gradient(
                to right,
                transparent,
                black 30%,
                black 70%,
                transparent
            ),
            linear-gradient(
                to left,
                transparent,
                black 30%,
                black 70%,
                transparent
            );
        mask-image: linear-gradient(
                to right,
                transparent,
                black 30%,
                black 70%,
                transparent
            ),
            linear-gradient(
                to left,
                transparent,
                black 30%,
                black 70%,
                transparent
            );
    }

    .titulo {
        font-family: "Questrial", system-ui, sans-serif;
    }

    @keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
    .bounce {
        animation: bounce 1s infinite;
    }
</style>
