---
import Layout from "../layouts/Layout.astro";
import CircleCheckIcon from "../icons/CircleCheckIcon.astro";
import ArrowDownIcon from "../icons/ArrowDownIcon.astro";
---

<Layout title="Metropedia.">
    <div class="about flex flex-col justify-center items-center h-dvh gap-12 pt-12 relative">
        <p class="text-xl text-gray-400">
            La web metrológica más <span class="text-[#fcb316]">completa</span> y
            <span class="text-[#fcb316]">confiable</span>.
        </p>
        <img class="metropedia h-32" src="/logocentrado.png" alt="" />

        <div class="">
            <p class="titulo tracking-widest text-5xl mb-6">METROPEDIA</p>
            <div class="bg-white size-5 w-full"></div>
        </div>

        <ArrowDownIcon class="absolute bottom-0 bounce end-1/2"/>

    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
    <div class="about max-w-screen-xl flex flex-col items-center justify-center">
        <img class="rounded-sm mb-14" src="/imgs/3.png" alt="" />
        <div class="grid grid-cols-2 gap-12">
            <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-6">
                    <h3 class="text-2xl font-extrabold">Visión General</h3>
                    <p class="text-gray-400 text-lg">
                        Bienvenido a nuestra plataforma metrológica, la solución integral para quienes buscan precisión, eficiencia y confiabilidad en el campo de la metrología. Aquí encontrará herramientas avanzadas, guías especializadas y recursos formativos que cubren desde cálculos de incertidumbre hasta capacitación profesional, todo diseñado para optimizar sus procesos de medición y cumplir con los estándares más rigurosos.
                    </p>
                </div>
    
                <ul class="grid grid-cols-2 text-gray-400 text-lg gap-3">
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Cálculos de incertidumbre
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Diseño de experimentos
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Desarrollo de software
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Cursos especializados
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Formatos de calibración
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Asesorías técnicas
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Normativas internacionales
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Optimización de procesos
                    </li>
                </ul>
            </div>
            <div class="flex flex-col gap-6">
                <h3 class="text-2xl font-extrabold">Nuestra misión</h3>
                <p class="text-gray-400 text-lg">
                    Fundamos esta plataforma con un propósito claro: simplificar y optimizar los procesos de medición para los profesionales de la metrología. Con una comunidad global y recursos continuamente actualizados, ofrecemos contenido alineado con las normativas y tecnologías más avanzadas del sector.                </p>
                <h3 class="text-2xl font-extrabold">Nuestro compromiso</h3>
                <p class="text-gray-400 text-lg">
                    Nos dedicamos a ofrecer una plataforma intuitiva y de alto rendimiento, con herramientas precisas y accesibles que respaldan el trabajo diario de los profesionales en metrología. En un entorno donde la precisión es fundamental, estamos aquí para ayudarle a alcanzar los más altos niveles de exactitud y eficiencia en cada medición.                </p>
            </div>
        </div>
    </div>
    <div class="about h-dvh max-w-screen-xl flex flex-col items-center justify-center">
        
<div class="w-full max-w-md bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 shadow rounded-lg p-5">
    <h2 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">Contact details</h2>
    <address class="relative bg-gray-50 dark:bg-gray-700 dark:border-gray-600 p-4 rounded-lg border border-gray-200 not-italic grid grid-cols-2">
        <div class="space-y-2 text-gray-500 dark:text-gray-400 leading-loose hidden sm:block">
            Name <br />
            Email <br />
            Phone Number
        </div>
        <div id="contact-details" class="space-y-2 text-gray-900 dark:text-white font-medium leading-loose">
            Bonnie Green <br />
            name@flowbite.com <br />
            + 12 345 67890
        </div>
        <button data-copy-to-clipboard-target="contact-details" data-copy-to-clipboard-content-type="textContent" data-tooltip-target="tooltip-contact-details" class="absolute end-2 top-2 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg p-2 inline-flex items-center justify-center">
            <span id="default-icon-contact-details">
                <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                    <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z"/>
                </svg>
            </span>
            <span id="success-icon-contact-details" class="hidden inline-flex items-center">
                <svg class="w-3.5 h-3.5 text-blue-700 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                </svg>
            </span>
        </button>
        <div id="tooltip-contact-details" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            <span id="default-tooltip-message-contact-details">Copy to clipboard</span>
            <span id="success-tooltip-message-contact-details" class="hidden">Copied!</span>
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
    </address>
</div>


    </div>
    
</Layout>

<script>
    
const clipboard = FlowbiteInstances.getInstance('CopyClipboard', 'contact-details');
const tooltip = FlowbiteInstances.getInstance('Tooltip', 'tooltip-contact-details');

const $defaultIcon = document.getElementById('default-icon-contact-details');
const $successIcon = document.getElementById('success-icon-contact-details');

const $defaultTooltipMessage = document.getElementById('default-tooltip-message-contact-details');
const $successTooltipMessage = document.getElementById('success-tooltip-message-contact-details');

clipboard.updateOnCopyCallback((clipboard) => {
    showSuccess();

    // reset to default state
    setTimeout(() => {
        resetToDefault();
    }, 2000);
})

const showSuccess = () => {
    $defaultIcon.classList.add('hidden');
    $successIcon.classList.remove('hidden');
    $defaultTooltipMessage.classList.add('hidden');
    $successTooltipMessage.classList.remove('hidden');    
    tooltip.show();
}

const resetToDefault = () => {
    $defaultIcon.classList.remove('hidden');
    $successIcon.classList.add('hidden');
    $defaultTooltipMessage.classList.remove('hidden');
    $successTooltipMessage.classList.add('hidden');
    tooltip.hide();
}

</script>

<style>
    .about {
        margin: auto;
        color: white;
        line-height: 1.6;
    }

    .metropedia {
        -webkit-mask-image: linear-gradient(
                to right,
                transparent,
                black 30%,
                black 70%,
                transparent
            ),
            linear-gradient(
                to left,
                transparent,
                black 30%,
                black 70%,
                transparent
            );
        mask-image: linear-gradient(
                to right,
                transparent,
                black 30%,
                black 70%,
                transparent
            ),
            linear-gradient(
                to left,
                transparent,
                black 30%,
                black 70%,
                transparent
            );
    }

    .titulo{
        font-family: 'Questrial', system-ui, sans-serif;
    }

    @keyframes bounce {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
    }
    .bounce {
        animation: bounce 1s infinite;
    }
</style>
