---
import Layout from "../layouts/Layout.astro";
import CircleCheckIcon from "../icons/CircleCheckIcon.astro";
import ArrowDownIcon from "../icons/ArrowDownIcon.astro";
---

<Layout title="Metropedia.">
    <div
        class="about flex flex-col justify-center items-center h-dvh gap-12 pt-12 relative"
    >
        <p class="text-xl text-gray-400">
            La web metrológica más <span class="text-[#fcb316]">completa</span> y
            <span class="text-[#fcb316]">confiable</span>.
        </p>
        <img class="metropedia h-32" src="/logocentrado.png" alt="" />

        <div class="">
            <p class="titulo tracking-widest text-5xl mb-6">METROPEDIA</p>
            <div class="bg-white size-5 w-full"></div>
        </div>

        <ArrowDownIcon class="absolute bottom-0 bounce end-1/2" />
    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
    <div
        class="about max-w-screen-xl flex flex-col items-center justify-center"
    >
        <img class="rounded-sm mb-14" src="/imgs/3.png" alt="" />
        <div class="grid grid-cols-2 gap-12">
            <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-6">
                    <h3 class="text-2xl font-extrabold">Visión General</h3>
                    <p class="text-gray-400 text-lg">
                        Bienvenido a nuestra plataforma metrológica, la solución
                        integral para quienes buscan precisión, eficiencia y
                        confiabilidad en el campo de la metrología. Aquí
                        encontrará herramientas avanzadas, guías especializadas
                        y recursos formativos que cubren desde cálculos de
                        incertidumbre hasta capacitación profesional, todo
                        diseñado para optimizar sus procesos de medición y
                        cumplir con los estándares más rigurosos.
                    </p>
                </div>

                <ul class="grid grid-cols-2 text-gray-400 text-lg gap-3">
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Cálculos de
                        incertidumbre
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Diseño de experimentos
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Desarrollo de software
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Cursos especializados
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Formatos de
                        calibración
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Asesorías técnicas
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Normativas
                        internacionales
                    </li>
                    <li class="text-lg flex items-center gap-1">
                        <CircleCheckIcon fill="#fcb316" />Optimización de
                        procesos
                    </li>
                </ul>
            </div>
            <div class="flex flex-col gap-6">
                <h3 class="text-2xl font-extrabold">Nuestra misión</h3>
                <p class="text-gray-400 text-lg">
                    Fundamos esta plataforma con un propósito claro: simplificar
                    y optimizar los procesos de medición para los profesionales
                    de la metrología. Con una comunidad global y recursos
                    continuamente actualizados, ofrecemos contenido alineado con
                    las normativas y tecnologías más avanzadas del sector.
                </p>
                <h3 class="text-2xl font-extrabold">Nuestro compromiso</h3>
                <p class="text-gray-400 text-lg">
                    Nos dedicamos a ofrecer una plataforma intuitiva y de alto
                    rendimiento, con herramientas precisas y accesibles que
                    respaldan el trabajo diario de los profesionales en
                    metrología. En un entorno donde la precisión es fundamental,
                    estamos aquí para ayudarle a alcanzar los más altos niveles
                    de exactitud y eficiencia en cada medición.
                </p>
            </div>
        </div>
    </div>

    <div
        class="about h-dvh max-w-screen-xl flex flex-col items-center justify-center"
    >
        <span
            class="bg-primary text-primary text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-secondary dark:text-primary border border-primary"
        >
            <svg
                class="w-2.5 h-2.5 me-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z"
                ></path><path
                    d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"
                ></path>
            </svg>

            Asesoría técnica
        </span>
    </div>
</Layout>

<style>
    .about {
        margin: auto;
        color: white;
        line-height: 1.6;
    }

    .metropedia {
        -webkit-mask-image: linear-gradient(
                to right,
                transparent,
                black 30%,
                black 70%,
                transparent
            ),
            linear-gradient(
                to left,
                transparent,
                black 30%,
                black 70%,
                transparent
            );
        mask-image: linear-gradient(
                to right,
                transparent,
                black 30%,
                black 70%,
                transparent
            ),
            linear-gradient(
                to left,
                transparent,
                black 30%,
                black 70%,
                transparent
            );
    }

    .titulo {
        font-family: "Questrial", system-ui, sans-serif;
    }

    @keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
    .bounce {
        animation: bounce 1s infinite;
    }
</style>
