---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Metropedia.">
  <div class="pt-20 h-auto flex bg-[#191919]">
    <div
      class="text-[#9a9a9a] font-semibold p-10 flex gap-4 w-full max-w-7xl mx-auto"
    >
      <div class="">
        <p class="flex gap-3">
          <span class="text-[#ffd16f]"> Cursos </span>
          &#62;
          <span class="text-[#ffd16f]"> Categoría </span>
          &#62;
          <span class="text-[#ffd16f]"> Curso seleccionado </span>
        </p>

        <h2 class="text-white my-8 text-3xl font-extrabold">
          Python TOTAL - Programador Avanzado en 16 días
        </h2>

        <p>
          Desde 0, y con 16 proyectos REALES. 160 ejercicios de código. Machine
          Learning, Data Science, Django, IGU, Juegos y más!
        </p>
      </div>
      <div class="bg-white p-4 max-w-xs">
        <img
          class="object-cover h-48 w-full"
          src="https://res.cloudinary.com/dc0aja7yx/image/upload/v1731448961/1_zatgis.png"
          alt=""
        />
        Suscribirse a los mejores cursos de Metropedia
        <p>
          Consigue este curso y más de 2 000 de nuestros cursos mejor valorados
          con el Plan Personal. Más información
        </p>
      </div>
    </div>
  </div>
</Layout>
