---
const {} = Astro.props;
import Layout from "../layouts/Layout.astro";
---

<Layout title="Metropedia.">
    <div class="calculadora relative about flex flex-col justify-center items-center h-dvh gap-12 pt-12">
        <h1>Consulta de usuario</h1>
        <!-- Botón para hacer la consulta -->
        <button onclick="fetchUserData()">Consultar usuario</button>

        <script>
            const userId = "1049625178"; // ID de usuario específico

            // Define la función en el ámbito global
            window.fetchUserData = async function () {
                try {
                    const response = await fetch(
                        `http://localhost:3000/api/certificates/${userId}`,
                    );
                    if (!response.ok) {
                        throw new Error(
                            "Error al obtener los datos del usuario",
                        );
                    }
                    const userData = await response.json();
                    console.log("Datos del usuario:", userData); // Muestra los datos en la consola
                } catch (error) {
                    console.error("Error:", error);
                }
            };
        </script>
    </div>
</Layout>
