---
// Aquí importamos componentes y otros recursos si los necesitamos
import Layout from "../layouts/Layout.astro";
import CalculatorIcon from "../icons/CalculatorIcon.astro";
import ArrowDownIcon from "../icons/ArrowDownIcon.astro";
import SearchIcon from "../icons/SearchIcon.astro";
import TargetIcon from "../icons/TargetIcon.astro";
---

<Layout title="Metropedia">
    <div class="calculadora relative about flex flex-col justify-center items-center  gap-12 pt-12">
        <div class="flex">
            <CalculatorIcon class="size-10 mr-2 stroke-[#fcb316]" />
            <h3 class="text-4xl font-extrabold">
                Calculadora de <span class="text-primary">Cifras Significativas</span>
            </h3>
        </div>
        <p class="text-xl text-white/50">
            Determina el número de cifras significativas en un número y muestra cuáles son esas cifras.
        </p>

        <!-- Navegación de Pestañas -->
        <div class="border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
                <li class="me-2">
                    <button id="encontrar-cifras" onclick="showSection('find')" class="inline-flex gap-2 items-center justify-center p-4 text-primary border-b-2 border-primary rounded-t-lg active dark:text-primary dark:border-primary group" role="tab">
                        <SearchIcon class="size-5" /> Encontrar cifras
                    </button>
                </li>
                <li class="me-2">
                    <button id="redondear-cifras" onclick="showSection('round')" class="inline-flex gap-2 items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group" role="tab">
                        <TargetIcon class="size-5" /> Redondear cifras
                    </button>
                </li>
            </ul>
        </div>

        <!-- Formulario para encontrar cifras significativas -->
        <form id="find-significant-figures" class="max-w-screen-xl w-full border border-primary/80 rounded-sm p-12">
            <p class="text-white/40 text-sm mb-6 w-full flex justify-center">
                Encuentra cuántas cifras significativas tiene un número.
            </p>
            <div class="mb-6">
                <label for="number-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Introduzca el número en notación inglesa (ejemplos: 1.2; 1020; 12.3)
                </label>
                <input type="text" id="number-input" class="bg-gray-50 text-gray-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary" placeholder="0" required />
            </div>
            <button type="button" onclick="calculateSignificantFigures()" class="text-[#252627] bg-primary hover:bg-primary/30 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-sm text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-primary dark:hover:bg-primary/30 dark:focus:ring-white mb-4">Encontrar Número de Cifras Significativas</button>
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="significant-figures-count" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cantidad de cifras significativas</label>
                    <span id="significant-figures-count" class="bg-gray-50 text-gray-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-gray-400 dark:text-primary dark:focus:ring-primary dark:focus:border-primary">0</span>
                </div>
                <div>
                    <label for="significant-figures-value" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cifras significativas</label>
                    <span id="significant-figures-value" class="bg-gray-50 text-gray-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-gray-400 dark:text-primary dark:focus:ring-primary dark:focus:border-primary">0</span>
                </div>
            </div>
        </form>

        <!-- Formulario para redondear cifras significativas -->
        <form id="round-significant-figures" class="hidden max-w-screen-xl w-full border rounded-sm p-12">
            <p class="text-white/40 text-sm mb-6 w-full flex justify-center">
                Redondea cualquier número a las cifras decimales que escojas.
            </p>
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="round-number-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Introduzca el número en notación inglesa (ejemplos: 1.2; 1020; 12.3)
                    </label>
                    <input type="text" id="round-number-input" class="bg-gray-50 text-gray-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary" placeholder="0" required />
                </div>
                <div>
                    <label for="precision-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Introduzca las cifras a las que quiere redondear
                    </label>
                    <input type="number" id="precision-input" class="bg-gray-50 text-gray-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary" placeholder="0" required />
                </div>
            </div>
            <button type="button" onclick="roundSignificantFigures()" class="text-white bg-blue-500 hover:bg-primary/30 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-sm text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-500 dark:hover:bg-blue-700 dark:focus:ring-white mb-4">Redondear Número a las Cifras Ingresadas</button>
            <div class="mb-6">
                <label for="rounded-result" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Número redondeado</label>
                <div id="rounded-result" class="bg-gray-50 text-gray-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-gray-400 dark:text-blue-500 dark:focus:ring-primary dark:focus:border-primary">0</div>
            </div>
        </form>
    </div>

    <ArrowDownIcon class="absolute bottom-0 bounce" />
</Layout>

<!-- JavaScript en el cliente -->
<script client:load>
    function showSection(section) {
        document.getElementById('find-significant-figures').classList.toggle('hidden', section !== 'find');
        document.getElementById('round-significant-figures').classList.toggle('hidden', section !== 'round');
    }

    function calculateSignificantFigures() {
        const input = document.getElementById('number-input').value;
        const digits = input.replace(/[^0-9]/g, '');
        const count = digits.length;
        document.getElementById('significant-figures-count').textContent = count;
        document.getElementById('significant-figures-value').textContent = digits;
    }

    function roundSignificantFigures() {
        const number = parseFloat(document.getElementById('round-number-input').value);
        const precision = parseInt(document.getElementById('precision-input').value);
        if (!isNaN(number) && !isNaN(precision) && precision > 0) {
            const rounded = number.toPrecision(precision);
            document.getElementById('rounded-result').textContent = rounded;
        } else {
            document.getElementById('rounded-result').textContent = "Valor inválido";
        }
    }
</script>

<style>
    .calculadora {
        margin: auto;
        color: white;
        line-height: 1.6;
    }

    @keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
    .bounce {
        animation: bounce 1s infinite;
    }
</style>
