---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'
import Skills from '../components/Skills.astro'
import Publi from '../components/Publi.astro';
import Graphics from '../components/Graphics.astro';
import Cta from '../components/Cta.astro';
import ArrowDownIcon from '../icons/ArrowDownIcon.astro';
import Banner from '../components/Banner.astro';
import Contact from '../components/Contact.astro';

---

<Layout title="Metropedia.">
	<main class="snap-proximity snap-y">
		<Banner/>
		<section class="relative snap-start flex items-center h-dvh bg-center bg-no-repeat bg-[url('https://res.cloudinary.com/dc0aja7yx/image/upload/v1731011421/1_ffjuhj.png')] dark:dark:bg-[#252627] bg-blend-multiply">
			<Hero />
			<ArrowDownIcon class="absolute bottom-0 bounce end-1/2"/>
		</section>
		
		<section id="proyectos" class=" bg-transparent flex justify-center items-center">
			<Publi/>
		</section>
		<section id="experiencia" class= "  md:pb-10 z-10 flex justify-center items-center">
			<Skills/>
		</section>
		

		<section class="py-10 md:py-0 md:h-dvh flex items-center">
			<Graphics/>
			
		</section>


		<section class="">
			<Cta/>
		</section>
		<section class="">
			<Contact/>
		</section>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	@keyframes bounce {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
    }
    .bounce {
        animation: bounce 1s infinite;
    }
	
</style>
