---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'
import Skills from '../components/Skills.astro'
import Publi from '../components/Publi.astro';

---

<Layout title="Metropedia.">
	<main>
		<section class="h-dvh">
			<Hero />
		</section>
		
		<section class= "bg-[#4a4b4b] py-5">
			<Skills/>
		</section>

		<Publi/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
