---
const {} = Astro.props;
import Layout from "@layouts/Layout.astro";
import CalculatorIcon from "@icons/CalculatorIcon.astro";
import CalendarIcon from "@icons/CalendarIcon.astro";
---

<Layout title="Metropedia.">
    <div class="calculadora relative about flex flex-col justify-center items-center h-dvh gap-12 pt-12">
        <div class="flex">
            <CalculatorIcon class="size-10 mr-2 stroke-[#fcb316]" />
            <h3 class="text-4xl font-extrabold">
                Calculadora de <span class="text-primary">Intervalos de Calibración</span>
            </h3>
        </div>
        <p class="text-xl dark:text-white/50">
            Calcula la próxima fecha de calibración basada en varios factores.
        </p>

        <div class="border-b border-neutral-200 dark:border-neutral-700">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-neutral-500 dark:text-neutral-400">
                <li class="me-2">
                    <a href="#" id="calculo-intervalo" class="inline-flex gap-2 items-center justify-center p-4 text-primary border-b-2 border-primary rounded-t-lg active dark:text-primary dark:border-primary group">
                        <CalendarIcon class="size-5" /> Calcular Intervalo
                    </a>
                </li>
            </ul>
        </div>

        <form id="interval-calculator-form" class="max-w-screen-xl w-full border border-primary/80 rounded-sm p-12">
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="deriva-periodo" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">
                        Deriva en el periodo (Años)
                    </label>
                    <input type="text" id="deriva-periodo" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:dark:text-white dark:focus:ring-primary dark:focus:border-primary" required />
                </div>
                <div>
                    <label for="fecha-servicio" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">
                        Fecha de servicio
                    </label>
                    <input type="date" id="fecha-servicio" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:dark:text-white dark:focus:ring-primary dark:focus:border-primary" required />
                </div>
                <div>
                    <label for="fecha-proxima" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">
                        Fecha de próxima calibración por deriva calculada en 1
                    </label>
                    <input type="date" id="fecha-proxima" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:dark:text-white dark:focus:ring-primary dark:focus:border-primary" required />
                </div>
                <div>
                    <label for="u-obtenida-superior" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">
                        ¿La U obtenida es superior a la requerida?
                    </label>
                    <select id="u-obtenida-superior" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:dark:text-white dark:focus:ring-primary dark:focus:border-primary" required>
                        <option value="">Seleccione</option>
                        <option value="Si">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div>
                    <label for="supero-emp" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">
                        ¿Se superó el EMP?
                    </label>
                    <select id="supero-emp" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:dark:text-white dark:focus:ring-primary dark:focus:border-primary" required>
                        <option value="">Seleccione</option>
                        <option value="Si">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div>
                    <label for="uso-incrementado" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">
                        ¿El uso en el último periodo ha incrementado un 50% al período anterior?
                    </label>
                    <select id="uso-incrementado" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:dark:text-white dark:focus:ring-primary dark:focus:border-primary" required>
                        <option value="">Seleccione</option>
                        <option value="Si">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div>
                    <label for="condiciones-desfavorables" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">
                        ¿Las condiciones ambientales de uso han sido desfavorables?
                    </label>
                    <select id="condiciones-desfavorables" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:dark:text-white dark:focus:ring-primary dark:focus:border-primary" required>
                        <option value="">Seleccione</option>
                        <option value="Si">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div>
                    <label for="tendencia-resultados" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">
                        ¿Hay tendencia en los resultados de las últimas 3 calibraciones?
                    </label>
                    <select id="tendencia-resultados" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:dark:text-white dark:focus:ring-primary dark:focus:border-primary" required>
                        <option value="">Seleccione</option>
                        <option value="Si">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div>
                    <label for="mantenimiento-correctivo" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">
                        ¿Se realizó mantenimiento correctivo?
                    </label>
                    <select id="mantenimiento-correctivo" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:dark:text-white dark:focus:ring-primary dark:focus:border-primary" required>
                        <option value="">Seleccione</option>
                        <option value="Si">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div>
                    <label for="rotacion-personal" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">
                        ¿Se presentó rotación en el personal autorizado para el uso?
                    </label>
                    <select id="rotacion-personal" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:dark:text-white dark:focus:ring-primary dark:focus:border-primary" required>
                        <option value="">Seleccione</option>
                        <option value="Si">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div>
                    <label for="ajuste-calibracion" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">
                        Se recomienda ajustar el lapso de calibración en la siguiente cantidad de meses
                    </label>
                    <input type="text" id="ajuste-calibracion" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:dark:text-white dark:focus:ring-primary dark:focus:border-primary" required />
                </div>
            </div>
            <button type="submit" class="dark:text-white bg-primary hover:bg-primary/80 focus:ring-4 focus:ring-primary font-medium rounded-sm text-sm px-5 py-2.5 text-center dark:bg-primary/80 dark:hover:bg-primary">
                Calcular Próxima Fecha de Calibración
            </button>
        </form>

        <div id="mensaje" class="text-xl dark:text-white/50 hidden mt-8"></div>
    </div>
</Layout>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('interval-calculator-form');
        const mensajeElement = document.getElementById('mensaje');

        form.addEventListener('submit', (event) => {
            event.preventDefault();

            const derivaPeriodo = parseFloat(document.getElementById('deriva-periodo').value);
            const fechaServicio = new Date(document.getElementById('fecha-servicio').value);
            const fechaProxima = new Date(document.getElementById('fecha-proxima').value);
            const uObtenidaSuperior = document.getElementById('u-obtenida-superior').value;
            const superoEmp = document.getElementById('supero-emp').value;
            const usoIncrementado = document.getElementById('uso-incrementado').value;
            const condicionesDesfavorables = document.getElementById('condiciones-desfavorables').value;
            const tendenciaResultados = document.getElementById('tendencia-resultados').value;
            const mantenimientoCorrectivo = document.getElementById('mantenimiento-correctivo').value;
            const rotacionPersonal = document.getElementById('rotacion-personal').value;
            const ajusteCalibracion = parseInt(document.getElementById('ajuste-calibracion').value);

            // Lógica de cálculo basada en la fórmula proporcionada
            let proximaFechaCalibracionCalculada = '';

            if (isNaN(derivaPeriodo) || !fechaServicio || !fechaProxima || isNaN(ajusteCalibracion)) {
                proximaFechaCalibracionCalculada = 'Datos incompletos o inválidos.';
            } else if (uObtenidaSuperior === "Si" && superoEmp === "Si") {
                proximaFechaCalibracionCalculada = 'Enviar a Mantenimiento correctivo';
            } else if (usoIncrementado === "Si" || condicionesDesfavorables === "Si") {
                const adjustedDate = new Date(fechaServicio);
                adjustedDate.setMonth(adjustedDate.getMonth() + ajusteCalibracion);
                proximaFechaCalibracionCalculada = `Cambios importantes en los factores de uso, nueva fecha: ${adjustedDate.toDateString()}`;
            } else {
                const diffTime = Math.abs(fechaProxima - fechaServicio);
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                if (diffDays < 365) {
                    proximaFechaCalibracionCalculada = fechaProxima.toDateString();
                } else {
                    proximaFechaCalibracionCalculada = new Date(fechaServicio.setFullYear(fechaServicio.getFullYear() + 1)).toDateString();
                }
            }

            mensajeElement.innerHTML = `Próxima Fecha de Calibración Calculada: <span class="text-primary font-extrabold">${proximaFechaCalibracionCalculada}</span>`;
            mensajeElement.classList.remove('hidden');
        });
    });
</script>

<style>
    .calculadora {
        margin: auto;
        color: white;
        line-height: 1.6;
    }

    @keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
    .bounce {
        animation: bounce 1s infinite;
    }
</style>
