---
const {} = Astro.props;
import Layout from "../layouts/Layout.astro";
import CoursesPubli from "../components/CoursesPubli.astro";
import PopularCourses from "../components/PopularCourses.astro";
import CTACourses from "../components/CTACourses.astro";
import CoursesHero from "../components/CoursesHero.astro";
import Consult from "../components/Consult.astro";


---

<Layout title="Metropedia.">
  <CoursesHero />


  <div
    id="tabs"
    class="max-w-screen-xl mx-auto border-b border-neutral-200 dark:border-neutral-700 px-4 sm:px-6 lg:px-8"
  >
    <ul
      class="flex overflow-x-auto no-scrollbar -mb-px text-sm font-medium text-center text-neutral-500 dark:text-neutral-400"
    >
      <li class="me-2 flex-none">
        <a
          href="#"
          id="boton-inicio"
          class="tab-link active inline-flex items-center justify-center p-3 sm:p-4 border-b-2 border-transparent rounded-t-lg hover:text-neutral-600 hover:border-primary dark:hover:text-primary group"
          >Inicio</a
        >
      </li>
      <li class="me-2 flex-none">
        <a
          href="#"
          id="boton-certificados"
          class="tab-link inline-flex items-center justify-center p-3 sm:p-4 border-b-2 border-transparent rounded-t-lg hover:text-neutral-600 hover:border-neutral-300 dark:hover:text-neutral-300 group"
          >Consultar certificados</a
        >
      </li>
      <li class="me-2 flex-none">
        <a
        href="https://dev-6tbiy7tc5eqhqb7k.us.auth0.com/authorize?response_type=code&client_id=JozbrwbE60QoHfD6hZiQy18zIQFxGEw0&redirect_uri=https%3A%2F%2Fwww.metropedia.net%2Flogin&state=STATE"

          id="login-button"
          class="inline-flex items-center justify-center p-3 sm:p-4 border-b-2 border-transparent rounded-t-lg hover:text-neutral-600 hover:border-neutral-300 dark:hover:text-neutral-300 group"
          >Ingresar</a
        >
      </li>
    </ul>
  </div>

  <!-- Contenido de cada sección, oculto por defecto excepto el primer tab -->
  <div id="content-inicio" class="tab-content">
    <CoursesPubli />
    <PopularCourses />
    <CTACourses />
  </div>
  <div id="content-certificados" class="tab-content hidden">
    <Consult />
  </div>
</Layout>

<style>
  .tab-content.hidden {
    display: none;
  }
  .tab-link.active {
    color: #fcb316;
    border-bottom: 2px solid #fcb316;
  }
  /* Eliminar scroll de la barra de navegación en móvil */
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari y Chrome */
  }

  /* Asegurar que los tab-links se alineen de forma más compacta */
  @media (max-width: 640px) {
    .tab-link {
      padding: 10px 12px;
      font-size: 0.875rem;
    }

    /* Espaciado más pequeño para la navegación en móvil */
    #tabs {
      padding: 0 1rem;
    }

    /* Tamaño más compacto de las secciones */
    .tab-content {
      padding: 1rem;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabLinks = document.querySelectorAll(".tab-link");
    const tabContents = document.querySelectorAll(".tab-content");

    tabLinks.forEach((link, index) => {
      link.addEventListener("click", (e) => {
        e.preventDefault();

        // Quitar la clase 'active' de todas las pestañas y contenido oculto
        tabLinks.forEach((link) => link.classList.remove("active"));
        tabContents.forEach((content) => content.classList.add("hidden"));

        // Agregar clase 'active' a la pestaña seleccionada y mostrar contenido correspondiente
        link.classList.add("active");
        tabContents[index].classList.remove("hidden");
      });
    });
  });
</script>

<style>
  .about {
    margin: auto;
    color: white;
    line-height: 1.6;
    position: relative;
    overflow: hidden;
  }
</style>
