---
const {} = Astro.props;
import Layout from "@layouts/Layout.astro";
import ArrowDownIcon from "@icons/ArrowDownIcon.astro";
import ArrowsIcon from "@icons/ArrowsIcon.astro";
import DecimalIcon from "@icons/DecimalIcon.astro"
import SuperScriptIcon from "@icons/SuperScriptIcon.astro"
---

<Layout title="Metropedia.">
    <div class="calculadora relative about flex flex-col justify-center items-center h-dvh gap-12 pt-12">
        <div class="flex">
            <ArrowsIcon class="size-10 mr-2 stroke-[#fcb316]" />
            <h3 class="text-4xl font-extrabold">
                Conversor de <span class="text-primary">Notación Decimal</span> y <span class="text-primary">Notación Científica</span>
            </h3>
        </div>
        <p class="text-xl dark:text-white/50">
            Convierte números de notación decimal a notación científica y viceversa.
        </p>

        <div class="border-b border-neutral-200 dark:border-neutral-700">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-neutral-500 dark:text-neutral-400">
                <li class="me-2">
                    <a href="#" id="decimal-a-cientifica" class="inline-flex gap-2 items-center justify-center p-4 text-primary border-b-2 border-primary rounded-t-lg active dark:text-primary dark:border-primary group">
                        <SuperScriptIcon class="size-5" /> Decimal a Científica
                    </a>
                </li>
                <li class="me-2">
                    <a href="#" id="cientifica-a-decimal" class="inline-flex gap-2 items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-neutral-600 hover:border-neutral-300 dark:hover:text-neutral-300 group">
                        <DecimalIcon class="size-6" /> Científica a Decimal
                    </a>
                </li>
            </ul>
        </div>

        <form id="scientific-notation-form1" class="max-w-screen-xl w-full border border-primary/80 rounded-sm p-12">
            <p class="dark:text-white/40 text-sm mb-6 w-full flex justify-center">Convierte un número de notación decimal a notación científica.</p>
            <div class="mb-6">
                <label for="decimal-input" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">Introduzca el número en notación decimal (ejemplos: 1.2; 1020; 12.3)</label>
                <input type="text" id="decimal-input" aria-describedby="helper-text-explanation" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:dark:text-white dark:focus:ring-primary dark:focus:border-primary" placeholder="0" required />
            </div>
            <button type="submit" class="text-secondary bg-primary hover:bg-primary/30 focus:ring-4 focus:outline-none focus:ring-neutral-300 font-medium rounded-sm text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-primary dark:hover:bg-primary/30 dark:focus:ring-white mb-4">Convertir a Notación Científica</button>

            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="scientific-output" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">Número en notación científica</label>
                    <span id="scientific-output" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:text-primary dark:focus:ring-primary dark:focus:border-primary">0</span>
                </div>
            </div>
            <p class="hidden" id="mensaje3">
                El número ingresado en notación científica es: <span class="text-primary font-extrabold">0</span>
            </p>
        </form>

        <form id="scientific-notation-form2" class="hidden max-w-screen-xl w-full border rounded-sm p-12">
            <p class="dark:text-white/40 text-sm mb-6 w-full flex justify-center">Convierte un número de notación científica a notación decimal.</p>
            <div class="mb-6">
                <label for="scientific-input" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">Introduzca el número en notación científica (ejemplos: 1.2e3; 2.34e-5)</label>
                <input type="text" id="scientific-input" aria-describedby="helper-text-explanation" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:dark:text-white dark:focus:ring-primary dark:focus:border-primary" placeholder="0" required />
            </div>
            <button type="submit" class="dark:text-white bg-amber-500 hover:bg-primary/30 focus:ring-4 focus:outline-none focus:ring-neutral-300 font-medium rounded-sm text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-amber-500 dark:hover:bg-amber-700 dark:focus:ring-white mb-4">Convertir a Notación Decimal</button>

            <div class="mb-6">
                <label for="decimal-output" class="block mb-2 text-sm font-medium text-neutral-900 dark:dark:text-white">Número en notación decimal</label>
                <div id="decimal-output" aria-describedby="helper-text-explanation" class="bg-neutral-50 text-neutral-900 text-sm rounded-sm focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-[#49494a] dark:placeholder-neutral-400 dark:text-amber-500 dark:focus:ring-primary dark:focus:border-primary">0</div>
            </div>
            <p class="hidden" id="mensaje4">
                El número ingresado en notación decimal es: <span class="text-amber-500 font-extrabold">0</span>
            </p>
        </form>

        <ArrowDownIcon class="absolute bottom-0 bounce" />
    </div>

    <div class="p-6 mt-12 dark:text-white/50">
        <div class="max-w-screen-xl mx-auto shadow-lg rounded-sm p-12 bg-[#4c4c4d]/20">
            <h1 class="text-3xl font-bold mb-6 text-primary">Notación Científica</h1>

            <section class="mb-8">
                <h2 class="text-2xl dark:text-white font-semibold mb-4">¿Qué es la notación científica?</h2>
                <p class="mb-4">
                    La notación científica es una forma de escribir números que son demasiado grandes o demasiado pequeños para ser convenientemente escritos en notación decimal. Se basa en potencias de diez. Un número en notación científica se expresa como el producto de un número entre 1 y 10, y una potencia de diez.
                </p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-semibold mb-4 dark:text-white">Cómo convertir entre notación decimal y científica</h2>
                <ol class="list-decimal list-inside space-y-2">
                    <li>
                        <strong>De decimal a científica:</strong> Desplace el punto decimal hasta que el número esté entre 1 y 10, y cuente el número de lugares que se movió. Ese será el exponente de 10.
                        <p class="pl-6">Ejemplo: 12300 = 1.23 × 10^4</p>
                    </li>
                    <li>
                        <strong>De científica a decimal:</strong> Desplace el punto decimal según el exponente de 10. Si el exponente es positivo, mueva el punto a la derecha. Si es negativo, muévalo a la izquierda.
                        <p class="pl-6">Ejemplo: 4.56 × 10^-3 = 0.00456</p>
                    </li>
                </ol>
            </section>
        </div>
    </div>
</Layout>

<script>
    function convertirADecimal(numeroCientifico) {
        return parseFloat(numeroCientifico);
    }

    function convertirACientifica(numeroDecimal) {
        return numeroDecimal.toExponential();
    }

    document.addEventListener("DOMContentLoaded", function () {
        const form1 = document.getElementById("scientific-notation-form1");
        const form2 = document.getElementById("scientific-notation-form2");
        const decimalInput = document.getElementById("decimal-input");
        const scientificInput = document.getElementById("scientific-input");
        const scientificOutput = document.getElementById("scientific-output");
        const decimalOutput = document.getElementById("decimal-output");
        const mensajeSalida3 = document.getElementById("mensaje3");
        const mensajeSalida4 = document.getElementById("mensaje4");
        const botonDecimalACientifica = document.getElementById("decimal-a-cientifica");
        const botonCientificaADecimal = document.getElementById("cientifica-a-decimal");

        form1.addEventListener("submit", function (event) {
            event.preventDefault();
            const numeroDecimal = parseFloat(decimalInput.value);
            const numeroCientifico = convertirACientifica(numeroDecimal);
            scientificOutput.innerText = numeroCientifico;
            mensajeSalida3.innerHTML = `El número ingresado en notación científica es: <span class="text-primary font-extrabold">${numeroCientifico}</span>`;
            mensajeSalida3.classList.remove("hidden");
        });

        form2.addEventListener("submit", function (event) {
            event.preventDefault();
            const numeroCientifico = scientificInput.value;
            const numeroDecimal = convertirADecimal(numeroCientifico);
            decimalOutput.innerText = numeroDecimal;
            mensajeSalida4.innerHTML = `El número ingresado en notación decimal es: <span class="text-amber-500 font-extrabold">${numeroDecimal}</span>`;
            mensajeSalida4.classList.remove("hidden");
        });

        botonDecimalACientifica.addEventListener("click", function (event) {
            event.preventDefault();

            form1.className = "block max-w-screen-xl w-full border rounded-sm p-12 border-primary/80";
            form2.className = "hidden max-w-screen-xl w-full border rounded-sm p-12";

            botonDecimalACientifica.className =
                "inline-flex gap-2 items-center justify-center p-4 text-primary border-b-2 border-primary rounded-t-lg active dark:text-primary dark:border-primary group";
            botonCientificaADecimal.className =
                "inline-flex gap-2 items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-neutral-600 hover:border-neutral-300 dark:hover:text-neutral-300 group";
        });

        botonCientificaADecimal.addEventListener("click", function (event) {
            event.preventDefault();

            form2.className = "block max-w-screen-xl w-full border rounded-sm p-12 border-amber-500/80";
            form1.className = "hidden max-w-screen-xl w-full border rounded-sm p-12";

            botonCientificaADecimal.className =
                "inline-flex gap-2 items-center justify-center p-4 text-amber-500 border-b-2 border-amber-500 rounded-t-lg active dark:text-amber-500 dark:border-amber-500 group";
            botonDecimalACientifica.className =
                "inline-flex gap-2 items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-neutral-600 hover:border-neutral-300 dark:hover:text-neutral-300 group";
        });
    });
</script>


<style>
    .calculadora {
        margin: auto;
        color: white;
        line-height: 1.6;
    }

    @keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
    .bounce {
        animation: bounce 1s infinite;
    }
</style>
