---
// src/components/LoginButton.astro

// No necesitas importar nada en el archivo Astro, solo el HTML y el script
---

<button id="loginButton">Login with Auth0</button>

<script>

    import { createAuth0Client } from "@auth0/auth0-spa-js";
  // Función para iniciar sesión
  const login = async () => {
    const auth0Client = await createAuth0Client({
      domain: 'dev-6tbiy7tc5eqhqb7k.us.auth0.com',  // Cambia por tu dominio
      client_id: 'JozbrwbE60QoHfD6hZiQy18zIQFxGEw0', // Cambia por tu client_id
      redirect_uri: window.location.origin, // Redirige al usuario después de iniciar sesión
    });

    await auth0Client.loginWithRedirect({
      connection: 'google-oauth2'  // Configura la conexión social deseada
    });
  };

  // Añadir el evento de click al botón
  document.getElementById('loginButton').addEventListener('click', login);
</script>
