<div
        class="max-w-screen-xl my-10 md:my-32 mx-auto py-16 px-5 md:px-16 text-center md:text-left bg-[#191919] bg-opacity-50 rounded-lg"
    >
        <h2 class="text-2xl font-bold dark:text-white mb-4">Contáctanos</h2>
        <p class="text-[#9a9a9a] mb-12 font-semibold text-start text-base md:text-lg">
            Estamos aquí para ayudarte con cualquier consulta y
            brindarte el soporte que necesites. Puedes comunicarte con nuestro
            equipo en las siguientes ubicaciones virtuales.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            <div class="border-l-2 border-primary pl-4 text-left">
                <h3 class="md:text-lg text-base font-semibold dark:text-white">Correo electrónico</h3>
                <p class="text-[#9a9a9a] text-base">andres.alejo.yela@gmail.com</p>
                <p class="text-[#9a9a9a] text-base font-semibold">Gmail</p>
            </div>
            <div class="border-l-2 border-primary pl-4 text-left">
                <h3 class="md:text-lg text-base font-semibold dark:text-white">Teléfono</h3>
                <p class="text-[#9a9a9a] text-base">(+57) 316 584 2991</p>
                <p class="text-[#9a9a9a] text-base font-semibold">Colombia</p>
            </div>
            <div class="border-l-2 border-primary pl-4 text-left">
                <h3 class="md:text-lg text-base font-semibold dark:text-white">WhatsApp</h3>
                <p class="text-[#9a9a9a] text-base">(+57) 316 584 2991</p>
                <p class="text-[#9a9a9a] text-base font-semibold">Colombia</p>
            </div>
            <div class="border-l-2 border-primary pl-4 text-left">
                <h3 class="md:text-lg text-base font-semibold dark:text-white">Redes sociales</h3>
                <a href="#"><p class="text-[#9a9a9a] text-base">Instagram: Metropedia</p></a>
                <a href="#"><p class="text-[#9a9a9a] text-base font-semibold">X: Metropedia</p></a>
            </div>
        </div>
    </div>