<footer class=" rounded-lg shadow m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="https://res.cloudinary.com/dc0aja7yx/image/upload/v1731012160/favicon_anm3bn.svg" class="h-8" alt="Metropedia Logo" />
                <span class="titulo self-center text-2xl font-semibold whitespace-nowrap dark:text-white tracking-widest">METROPEDIA</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-neutral-500 sm:mb-0 dark:text-neutral-400">
                <li>
                    <a href="/about/" class="hover:underline me-4 md:me-6">About</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-neutral-200 sm:mx-auto dark:border-neutral-700 lg:my-8" />
        <span class="block text-sm text-neutral-500 sm:text-center dark:text-neutral-400">© 2024 <a href="https://flowbite.com/" class="hover:underline">Metropedia™</a>. All Rights Reserved.</span>
    </div>
</footer>

<style>
    .titulo{
        font-family: 'Questrial', system-ui, sans-serif;
    }
</style>

