---
import CircleCheckIcon from "../icons/CircleCheckIcon.astro"
---

<div class="grid max-w-screen-xl mx-auto lg:gap-8 xl:gap-0 lg:grid-cols-2">
    <img class=" mr-12 place-self-center" src="imgs/graphics.svg" alt="">
    <div class="mr-auto  ml-12">
        <h3 class=" text-4xl font-extrabold tracking-wider mb-4">Dark mode integration</h3>
        <p class="text-gray-400 text-lg mb-4">Flowbite has native built-in support for dark mode by using the variants from Tailwind CSS and the Flowbite Design System.</p>
        <p class="text-gray-400 text-lg">All of the UI components and templates from Flowbite will automatically switch to dark mode based on your browser settings or custom project configuration.</p>

        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

        <ul class="mb-6">
            <li class=" text-lg flex items-center gap-1"><CircleCheckIcon fill="#fcb316"/>Increased accessibility based on room brightness</li>
            <li class=" text-lg flex items-center gap-1"><CircleCheckIcon fill="#fcb316"/>Increased accessibility based on room brightness</li>
            <li class=" text-lg flex items-center gap-1"><CircleCheckIcon fill="#fcb316"/>Increased accessibility based on room brightness</li>
        </ul>
        <a
                href="#"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-[#252627] hover:text-white rounded-sm bg-[#fcb316] hover:bg-[#fcb316]/60 hover:border focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
            >
            Learn how to integrate dark mode
                <svg
                    class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
            </a>
    </div>
</div>