---
import CircleCheckIcon from "../icons/CircleCheckIcon.astro"
import GraphicIcon from "../icons/GraphicIcon.astro"
---

<div class="grid max-w-screen-xl mx-auto lg:gap-8 xl:gap-0 lg:grid-cols-2">
    <img class="mr-12 place-self-center" src="imgs/graphics.svg" alt="">
    <div class="mr-auto ml-12">
        <div class="flex">
            <GraphicIcon class="size-10 mr-2 stroke-[#fcb316]" />
            <h3 class="text-3xl font-extrabold tracking-wider mb-4">Visualización Avanzada de Datos</h3>
        </div>
        <p class="text-gray-400 text-lg mb-4">Nuestra plataforma ofrece herramientas avanzadas para la visualización y análisis de datos metrológicos, permitiendo obtener insights precisos y detallados.</p>
        <p class="text-gray-400 text-lg">Genera gráficos interactivos, realiza análisis estadísticos completos y presenta tus resultados de manera clara y profesional con nuestras soluciones.</p>

        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

        <ul class="mb-8">
            <li class="text-lg flex items-center gap-2"><CircleCheckIcon fill="#fcb316"/>Gráficos interactivos y personalizables</li>
            <li class="text-lg flex items-center gap-2"><CircleCheckIcon fill="#fcb316"/>Análisis estadísticos avanzados</li>
            <li class="text-lg flex items-center gap-2"><CircleCheckIcon fill="#fcb316"/>Exportación de resultados en múltiples formatos</li>
        </ul>
        <a
            href="#"
            class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-[#252627] hover:text-white rounded-sm bg-[#fcb316] hover:bg-[#fcb316]/60 hover:border focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
        >
            Descubre más sobre nuestras capacidades de análisis
            <svg
                class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
        </a>
    </div>
</div>
