---
import CircleCheckIcon from "../icons/CircleCheckIcon.astro"
import GraphicIcon from "../icons/GraphicIcon.astro"
---

<div class="flex flex-col-reverse lg:grid lg:grid-cols-2 max-w-screen-xl mx-auto gap-6 lg:gap-8 xl:gap-12">
    <!-- Imagen en móvil al final, en desktop a la izquierda -->
    <img class="w-full lg:w-auto lg:place-self-center" src="https://res.cloudinary.com/dc0aja7yx/image/upload/v1731011420/graphics_tedad4.svg" alt="Gráfica representativa">

    <div class="md:text-center lg:text-left mx-4 lg:mx-0">
        <div class="flex items-center justify-center lg:justify-start mb-4">
            <GraphicIcon class="w-8 h-8 mr-2 stroke-[#fcb316]" />
            <h3 class="text-2xl sm:text-3xl font-extrabold tracking-wider">Calcula las Correcciones Gráficas</h3>
        </div>
        <p class="text-gray-400 text-base sm:text-lg mb-4">Nuestra plataforma ofrece herramientas avanzadas para la corrección de condiciones ambientales en mediciones metrológicas, permitiendo obtener resultados precisos y ajustados.</p>
        <p class="text-gray-400 text-base sm:text-lg mb-6">Genera gráficos interactivos, realiza análisis estadísticos de corrección ambiental y presenta tus resultados de manera clara y profesional con nuestras soluciones.</p>
        
        <hr class="h-px my-6 lg:my-8 bg-gray-200 border-0 dark:bg-gray-700">

        <ul class="space-y-2 mb-6 lg:mb-8">
            <li class="text-base sm:text-lg flex items-center gap-2"><CircleCheckIcon fill="#fcb316"/>Gráficos interactivos y personalizables</li>
            <li class="text-base sm:text-lg flex items-center gap-2"><CircleCheckIcon fill="#fcb316"/>Análisis estadístico</li>
            <li class="text-base sm:text-lg flex items-center gap-2"><CircleCheckIcon fill="#fcb316"/>Importación de datos en múltiples formatos</li>
        </ul>

        <!-- Botón con texto corto en móvil -->
        <a
            href="/graphics/"
            class="inline-flex justify-center items-center py-3 px-5 text-sm sm:text-base font-medium text-[#252627] hover:text-white rounded-sm bg-[#fcb316] hover:bg-[#fcb316]/60 border border-primary hover:border-white focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
        >
            <span class="block sm:hidden">Descubre más</span> <!-- Texto corto en móvil -->
            <span class="hidden sm:block">Descubre más sobre nuestras capacidades de análisis</span> <!-- Texto completo en desktop -->
            <svg
                class="w-3.5 h-3.5 ml-2 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
        </a>
    </div>
</div>
