---
import MeasureIcon from "../icons/MeasureIcon.astro";
import CourseIcon from "../icons/CourseIcon.astro";
import DownloadIcon from "../icons/DownloadIcon.astro";

const features = [
    {
        title: "Herramientas metrológicas",
        description: "Todo en cálculos metrológicos y estadísticos en un solo lugar",
        icono: MeasureIcon,
    },
    {
        title: "Cursos didácticos",
        description: "Aprende a desarrollar tus propias herramientas metrológicas",
        icono: CourseIcon,
    },
    {
        title: "Formatos completos",
        description: "Descarga formatos completos y funcionales para actividades AVR",
        icono: DownloadIcon,
    },
];
---

<section class="grid max-w-screen-xl mx-auto lg:gap-8 xl:gap-0 lg:grid-cols-12 md:pt-20 px-4 sm:px-6 lg:px-0 mt-14 md:mt-0">
    <!-- Hero Section -->
    <header class="mr-auto place-self-center lg:col-span-7">
        <a
            href="#"
            class="inline-flex justify-between items-center py-1 px-1 pe-4 mb-1 md:mb-7 text-sm text-yellow-700 bg-blue-100 rounded-sm dark:bg-[#fab116]/40 dark:text-yellow-100 hover:bg-blue-200 dark:hover:bg-[#fab116] hover:text-[#242425]"
        >
            <span class="text-xs bg-[#fab116] rounded-sm text-[#252627] px-4 py-1.5 me-3">¡Nuevo!</span>
            <span class="text-sm font-medium">Graficadora estadística funcional</span>
            <svg class="w-2.5 h-2.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"></path>
            </svg>
        </a>

        <h1 class="max-w-2xl my-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
            <span class="text-[#fcb316]">Metropedia:</span> La Web Metrológica Definitiva.
        </h1>
        <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400 leading-tight md:leading-normal">
            Desde cálculos de incertidumbre hasta cifras significativas, nuestras herramientas son el patrón de referencia en metrología.
        </p>

        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-start sm:space-y-0">
            <a
                href="#"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-[#252627] hover:text-white rounded-sm bg-[#fcb316] hover:bg-[#fcb316]/60 border border-primary hover:border-white focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
            >
                Vamos
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
            </a>
            <a
                href="/about/"
                class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-sm border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400"
            >
                Saber más
            </a>
        </div>
    </header>

    <!-- Image Section - Desktop Only -->
    <aside class="lg:mt-0 col-span-4 2xl:col-span-5 lg:flex hidden lg:block" aria-label="Imágenes destacadas">
        <div class="grid grid-cols-2 gap-4">
            <div class="grid gap-4">
                <figure>
                    <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dc0aja7yx/image/upload/v1731011300/1_oydkw9.jpg" alt="Descripción de la imagen 1"/>
                </figure>
                <figure>
                    <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dc0aja7yx/image/upload/v1731011302/3_dc7bew.jpg" alt="Descripción de la imagen 3"/>
                </figure>
            </div>
            <div class="grid gap-4">
                <figure>
                    <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dc0aja7yx/image/upload/v1731011301/2_pq2isl.jpg" alt="Descripción de la imagen 2"/>
                </figure>
                <figure>
                    <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dc0aja7yx/image/upload/v1731011303/4_vrvmvm.jpg" alt="Descripción de la imagen 4"/>
                </figure>
            </div>
        </div>
    </aside>

    <!-- Features Section -->
    <section class="w-full col-span-12 my-3 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-0 md:gap-4" aria-label="Características principales">
        {features.map((feature) => (
            <article class="flex gap-2 border border-transparent hover:border-white/30 rounded-sm px-4 py-1 md:py-2">
                <feature.icono class="size-8 text-[#fcb316]" aria-hidden="true" />
                <div>
                    <h2 class="text-lg font-bold md:text-md">{feature.title}</h2>
                    <p class="hidden md:block text-md text-gray-500 leading-tight">{feature.description}</p>
                </div>
            </article>
        ))}
    </section>
</section>
