<div class="h-full flex items-center justify-center">
    <div>
        <img src="favicon.svg" alt="">
        <h2 class="flex justify-center text-5xl tracking-wide font-extrabold">
            M E T R O P E D I A
        </h2>
        <p class="flex justify-center tracking-widest">La web de metrología más&nbsp<span class=" text-[#fcb316]">confiable&nbsp</span>y&nbsp<span class=" text-[#fcb316]">completa</span>.</p>
    </div>
</div>