---
import "@fontsource/questrial";
import "@fontsource-variable/inter";
// Supports weights 100-900
import '@fontsource-variable/onest';

import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro"; 

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Plataforma virtual de herramientas y cursos en metrología y normativa internacional" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://res.cloudinary.com/dc0aja7yx/image/upload/v1731012160/favicon_anm3bn.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="relative h-full w-full dark:dark:bg-secondary bg-[#9a9a9a]">
		<script src="../../node_modules/preline/dist/preline.js"></script>

		<div
			class="z-[-2] absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px]"
		>
			
		</div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style is:global>
	:root {
	}
	html {
		font-family:"Inter Variable", "Questrial", system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
